<launch>
    <group ns="robot_0">
	<node name="stage" pkg="stage_ros" type="stageros" args="$(find lab2)/world/playgroundBug2.world" />
    </group>
    <node name="bug2" pkg="lab2" type="bug2.py" output = "screen"/>
    <node name="ransac" pkg="lab2" type="ransac.py" output = "screen"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find lab2)/world/perception.rviz" output="screen"/>
</launch>
